.ui-datepicker{z-index:55;}
button{padding: 2px 6px 3px 6px;}
.sithover{background:#ffff55;}
#sortable .ui-selecting { background: #FECA40; }
.smotherBox{background:#333; float:left; border-right:2px #ddd solid; height:20px; line-height:20px;}
.smotherPad{padding:8px 14px;}
.ACTstatus{padding:2px 4px; color:white;}
.actsdown{background:#cc0000;}
.actsup{background:#009900;}
.actsload{background:none;}

.smotherACT{position:fixed; top:0; left:0; z-index:1050; fontSize:12px; width:100%; background:#00325e; color:white; border-bottom:6px #ddd solid; -moz-box-shadow:0 0 20px black; -webkit-box-shadow:0 0 20px black; box-shadow:0 0 20px black;}

.fsokit-btn a{text-decoration:none !important; text-align:center; background:#555; color:#fff !important; border:1px solid #999 inset; height:15px; width:15px; line-height:15px; padding:2px; margin-right:3px; display:block; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;}

.activity h4 a.kit-btn{text-decoration:none !important; font-size:11px; text-align:center; background:#555; color:#fff !important; border:1px solid #999 inset; height:15px; width:15px; line-height:15px; padding:2px 5px; margin-right:3px; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;}

.actbox-ver{float:left;}
.actbox-btn a{text-decoration:none !important; float:left; text-align:center; background:#fff; color:#333 !important; border:1px solid #f5c inset; height:15px; width:auto; line-height:15px; padding:2px 6px; margin-left:8px; display:block; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;}
.actbox-btn a:hover{background:#ccc;}

.kit-tooltip-close{z-index:1006; cursor:pointer; position:absolute; top:-8px; right:-8px; width:16px; height:16px; -webkit-box-shadow: 0px 0px 7px 0px #000; -moz-box-shadow: 0px 0px 7px 0px #000; box-shadow: 0px 0px 7px 0px #000; background:url(http://wddbs.com/~SFW/smotherit/images/closeicon.jpg) no-repeat center center white; -webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;}
.kit-tooltip-wrap{z-index:1003; position:absolute; display:none;}
.kit-tooltip-body{z-index:1004; position:relative; width:480px; -moz-box-shadow:0 0 20px black; -webkit-box-shadow:0 0 20px black; box-shadow:0 0 20px black; padding:10px; background:white;}
.kit-loader{display:none; position:absolute; top:0; left:0; width:100%; height:100%; z-index:5; background:url(http://wddbs.com/~SFW/smotherit/images/fsokit-loader.gif) no-repeat center center white;}
.kit-tooltip-tip-bot{position:absolute; bottom:-23px; z-index:1005; border-color:white transparent transparent transparent; border-style: solid; border-width:12px 12px 12px 12px; font-size:0; height:1px; left:25px; line-height:0; margin:0 0 0 -12px; outline:medium none; width:0px;}
.kit-tooltip-tip-top{position:absolute; top:-23px; z-index:1005; border-color:transparent transparent white transparent; border-style: solid; border-width:12px 12px 12px 12px; font-size:0; height:1px; left:25px; line-height:0; margin:0 0 0 -12px; outline:medium none; width:0px;}
.kit-tooltip-top{height:4px; background:#333;}
.kit-submit-bar{padding:6px; background:#333;}
.kit-submit-bar input{padding:2px; border:none; background:#E85B1F; color:white;}
.kit-submit-bar span{padding:2px; color:#bbb; font-size:10px;}
.kit-error{display:none; position:absolute; z-index:1002; width:200px; left:475px; top:28px; padding:6px 6px 6px 36px; background:#aa0000; color:white; border:1px solid white; -moz-box-shadow:0 0 20px black; -webkit-box-shadow:0 0 20px black; box-shadow:0 0 20px black;}

.kit-entries{padding:0px 0px 8px;}
.kit-entries p{margin:0; padding:4px 0 0 0;}
.kit-entries input{border:1px solid #666; padding:2px;}
.kit-entries textarea{width:474px; height:120px; border:1px solid #666; padding:2px;}
.grade-slider{float:right; width:370px; margin:4px 10px 4px 0px; background:#ddd; border:1px solid #777;}
.kit-entries .grade-slider .ui-slider-handle{background:#E85B1F; border:1px solid #333;}

.changelog{
	position:absolute; top:100px; left:400px; width:340px; background:white; z-index:1052;
	-moz-box-shadow:0 0 14px black; -webkit-box-shadow:0 0 14px black; box-shadow:0 0 14px black;
}
.changelog ul{list-style:none; margin:0; padding:0;}
.changelog li{margin:0; padding:5px; background:#eee; border-top:1px solid #bbb; color:#505050; font-size:11px;}
.changelog li.loveme{background:none; border:none; color:#777;}
.changelog li.loveme img{}